<div class="card text-center border-light bg-light">
  <div class="card-body">
    <h3 class="card-title">{{job.job_title}}</h3>
    <p class="card-text fw-bold">{{job.company_name}}</p>
    <p class="fs-5"><i class="bi bi-geo-alt-fill me-1"></i>{{job.location}}</p>
    <hr>
    <div>
      <h2 class="fw-bold">Job Description</h2>
      <div class="d-inline-block">
        <p>{{job.job_description}}</p>
        <a class="d-block bg-danger text-white rounded-3 p-2 fs-5 text-decoration-none mb-3">
          <i class="bi bi-envelope me-1"></i>Contact Employer</a>
        <a class="d-block bg-danger text-white rounded-3 p-2 fs-5 text-decoration-none" target="_blank">
          <i class="bi bi-globe me-1"></i>Visit Website</a>
      </div>
    </div>
  </div>
</div>

