<div class="slider p-5 text-center text-light justify-content-center">
  <h1 class="mb-3 ">Find your dream job</h1>
  <h4 class="mb-3">search for your preferred job in the website with the easiest way by just simple ways</h4>
  <div class="d-flex align-items-center justify-content-center flex-column gap-4">
    <form class="d-flex">
      <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</div>
